<img src="img/screenshot.png" class="screenshot" />
<div class="box">
    <h1>welcome</h1>
    <p>the grid is a multiplayer real-time strategy game. your goal is to exterminate any other colonies on the grid by placing special tiles and collecting resources.</p>

    <h1>let me play!</h1>
    <p>the game is currently in its early stages of development. because of this, we're only allowing a small number of people to play and test the game for feedback.</p> 
    <p>if you're interested in the game, feel free to <a href="/request">request an invite</a></p>
</div>
