<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>thegrid</title>
        <link rel="stylesheet/less" type="text/css" href="style.less">
		<script src="less-1.2.2.js" type="text/javascript" charset="utf-8"></script>
        <base href="http://stevegattuso.me/thegrid/" />
        <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26000488-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
    </head>
    <body>
        <div class="container">
            <a class="title" href="/thegrid/">the<span class="blue">grid</span></a>
            <div class="nav">
                <a href="/thegrid/">home</a><a href="updates.html">updates</a><a href="faq.html">faq</a><a href="about.html">about</a>

                <a href="http://github.com/stevenleeg/thegrid" class="right">github</a>
                <a href="http://twitter.com/thegridsays" class="right">twitter</a>
            </div>

            {{content}}

        </div>
        <div class="footer">&copy;2012 <a href="http://stevegattuso.me">steve gattuso</a></div>
        
    </body>
</html>
